.snwb-widget.snwb-screensaver {
	overflow: hidden;
}
#garden {
	margin-bottom:20px;
	position: relative;
}
#garden svg {
	position: absolute;
	top:0;
	left:0;
}
.click {
	border:2px solid white;
	color:white;
	text-decoration: none;
}
.click.active {
	border:2px solid black;
}
.color {
	border:2px solid white;
	color:white;
	text-decoration: none;
}
.color.active {
	border:2px solid black;
}
h1, h2, h3, h4,h5, h6, a {
	color:wheat;
}
/*.'summer_class'*/
.summer_class {
	color:green;
}